<div class="container row">

    <!-- SELECTED PRODUCT -->
    <div class="col-sm-8">
        <perfect-scrollbar class="scrollable" wheel-propagation="true" wheel-speed="3" min-scrollbar-length="100%">

            <div class="jumbotron">
                <h1>{{ product.Variety }} ({{ product.CommonName }})</h1>
                <img ng-src="../../src/images/{{ product.ImgGood }}" />
            </div>

            <div class="row">
                <p>{{ product.DescGeneral ? product.DescGeneral : "No data available" }}</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <h3>Is it Ripe?</h3>
                    <p><strong>By Look</strong></p>
                    <p>{{ product.DescLook ? product.DescLook : "No data available" }}</p>
                    <p><strong>By Feel</strong></p>
                    <p>{{ product.DescFeel ? product.DescFeel : "No data available" }}</p>
                    <p><strong>By Smell</strong></p>
                    <p>{{ product.DescSmell ? product.DescSmell : "No data available" }}</p>
                </div>
                <div class="col-sm-6">
                    <h3>Other Info</h3>
                    <p><strong>Season</strong></p>
                    <p>{{ (product.SeasonStart && product.SeasonEnd) ? (product.SeasonStart + " to " + product.SeasonEnd) : "" }}</p>
                </div>
            </div>

        </perfect-scrollbar>
    </div>

    <!-- PRODUCE LIST -->
    <perfect-scrollbar class="col-sm-4">

        <!-- FILTER SEARCH -->
        <table class="table-condensed">
            <tr>
                <td colspan="2">
                    <form class="" role="search">
                        <div class="form-group">
                            <input ng-model="search.query" type="text" class="form-control" placeholder="Search Produce">
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Produce Class</label>
                </td>
                <td>
                    <select name="filterClass" ng-model="search.class" ng-options="c.ProduceClass as c.ProduceClass for c in productClasses">
                        <option value="" selected>----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Produce Type</label>
                </td>
                <td>
                    <select name="filterType" ng-model="search.type" ng-options="t.ProduceTypeId as t.CommonName for t in productTypes">
                        <option value="" selected>----</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>In Season</label>
                </td>
                <td>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="search.inSeason" />
                    </label>
                </td>
            </tr>
        </table>

        <!-- PRODUCE LIST -->
        <perfect-scrollbar class="scrollable" wheel-propagation="true" wheel-speed="6" min-scrollbar-length="20">
            <table class="table">
                <tr ng-repeat="p in products | filter:search.query |
                                                filterProductsByWhetherInSeason:search.inSeason |
                                                filterProductsByClass:search.class |
                                                filterProductsByType:search.type">
                    <td>
                        <p><strong>{{ p.Variety + " (" + p.CommonName + ")" }}</strong></p>
                        <img style="width: 100px" ng-src="../../src/images/{{ p.ImgGood }}" ng-click="getProduct(p.ProduceId)" />
                    </td>
                </tr>
            </table>
        </perfect-scrollbar>

    </div>

</div>