<div>

    <form novalidate name="loginForm" id="loginForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Username">Username</label>
            <div class="controls">
                <input type="text" id="Username" placeholder="Username" ng-model="user.Username" required />
                <p ng-show="loginForm.Username.$error.required && !loginForm.Username.$pristine" class="alert-danger">Username required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Password">Password</label>
            <div class="controls">
                <input type="password" id="Password" placeholder="Password" ng-model="user.Password" required />
                <p ng-show="loginForm.Password.$error.required && !loginForm.Password.$pristine" class="alert-danger">Password required.</p>
            </div>
        </div>
        <br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login(user)" value="Sign in" />
            </div>
        </div>
    </form>

    <br/>

    <button type="button" class="btn btn-primary" ng-click="createUser()">Sign up</button>

</div>
