<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email" ng-model="email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" ng-model="password">
        </div>
    </div>
    <br />
    <div class="control-group">
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-click="login()">Sign in</button>
        </div>
    </div>
</form>