<div class="container">

    <!-- Google Map -->
    <div class="col-md-12 col-sm-12 col-xs-12 map centered">
        <div id="map"></div>
    </div>

      <!-- This table is hidden for extra small screens, code below is for extra small screens-->
        <table class="table hidden-xs" style="width:100%">
            <tr>
                <th><strong>Store Name</strong></th>
                <th><strong>Street Address</strong></th>
                <th colspan="2"><strong>Store Rating</strong></th>
            </tr>
            <tr ng-repeat="s in stores | orderBy: '-Rating' | bringPreferredStoreToTop:getUserPreferredStore()" ng-class="{true: 'selectedStore'}[s.StoreId === store.StoreId]">
                <td><strong><a ng-click="navigateToStore(s.StoreId)">{{ s.StoreName }}</a></strong></td>
                <td>{{ s.Address }}<br />{{ s.City + ", " + s.State + " " + s.Zip }}</td>

                <!-- see/change store rating -->
                <td>
                    <star-rating-directive score="s.Rating" max="5"
                                           on-rate="rateStore(s.StoreId, rating)"
                                           style="vertical-align: middle;"
                                           ng-show="user.CustomerId.length > 0">
                    </star-rating-directive>
                    <static-star-rating-directive score="s.Rating" max="5"
                                                  style="vertical-align: middle;"
                                                  ng-show="user.CustomerId === undefined">
                    </static-star-rating-directive>

                </td>

            </tr>
        </table>


    <!--for xs screens-->
    <ul class="visible-xs" data-role="listview" data-split-icon="star" data-theme="d">
        <li ng-repeat="s in stores" ng-class="{true: 'selectedStore'}[s.StoreId === store.StoreId]">
            <h3>{{ s.StoreName }}<span ID="r0"></span></h3>
            <p>{{ s.Address }}<br />{{ s.City + ", " + s.State + " " + s.Zip }}</p>
            <a href="#" class="showRating" mID="0">Rate Store</a>
        </li>
    </ul>

</div>