<div class="container">

    <p>Current user id = {{ user.CustomerId }}</p>
    <p>Preferred store id = {{ user.PreferredStore }}</p>

    <!-- Google Map -->
    <div class="col-md-12 col-sm-12 col-xs-12 map centered">
    <div id="map"></div>
    </div>

    <perfect-scrollbar class="scrollable" suppress-scroll-x="true" wheel-propagation="true" wheel-speed="3" min-scrollbar-length="20">

        <div class ="table-responsive">
            <table class="table col-xs-12">
                <tr>
                    <th class="col-xs-3"><strong>Store Name</strong></th>
                    <th class="col-xs-3"><strong>Street Address</strong></th>
                    <th class="col-xs-2"><strong>Store Rating</strong></th>
                </tr>
                <tr ng-repeat="s in stores" ng-class="{true: 'selectedStore'}[s.StoreId === store.StoreId]">
                    <td><strong>{{ s.StoreName }}</strong></td>
                    <td>{{ s.Address }}<br />{{ s.City + ", " + s.State + " " + s.Zip }}</td>
                    <td>{{ roundToTenth(s.Rating) }}</td>
                    <th class="col-xs-4">
                            <select class="form-control" name="rating" ng-model="s.MyRating">
                                <option value="">--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <button type="button" class="btn btn-primary"
                                    ng-click="rateStore(s.StoreId, s.MyRating)">
                                Rate This Store!
                            </button>
                    </th>

                    <!--<td ng-show="!!user && !isUserPreferredStore(s.StoreId)">-->
                        <!--<button type="button" class="btn btn-primary"-->
                                <!--ng-click="setUserPreferredStore(s.StoreId)">-->
                            <!--Set Store-->
                        <!--</button>-->
                    <!--</td>-->
                    <!-- -->
                </tr>
            </table>
        </div>

    </perfect-scrollbar>

</div>