body, html {
    height: 100%;
}
body {
    position: relative;
}


/* NG-CLOAK: prevents Angular flicker on data load */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* NAVBAR */



/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9900;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff9933;
}
*/

/* SCROLLBAR */
.scrollable {
    white-space: pre-line;
    height: 560px;
    overflow-y: hidden;
    position: relative;
    padding: 20px;
}
/* HOMEPAGE TABLES */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.element {
    .center-block();
}



/* STORES MAP */
#map {
    height: 400px;
    width: 100%;
    background-color: #CCCCCC;
}
.selectedStore {
    background-color: red;
}

/* STORE TABLE */
/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Store Nsme"; }
    td:nth-of-type(2):before { content: "Street Address"; }
    td:nth-of-type(3):before { content: "Store Rating"; }
    td:nth-of-type(4):before { content: "Add Rating"; }
}