body, html {
    height: 100%;
}
body {
    position: relative;
}


/* NG-CLOAK: prevents Angular flicker on data load */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/* NAVBAR */



/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff9900;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff9933;
}
*/

/* SCROLLBAR */
.scrollable {
    white-space: pre-line;
    height: 560px;
    overflow-y: hidden;
    position: relative;
    padding: 20px;
}
/* HOMEPAGE TABLES */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.element {
    .center-block();
}

/* STORES MAP */
#map {
    height: 400px;
    width: 100%;
    background-color: #CCCCCC;
}
.selectedStore {
    background-color: lightgreen;
}

.shoppingList {
    background-color: lightgreen;
}

/* STAR RATING DIRECTIVE */
.rating {
    margin: 0;
    padding: 0;
}

.rating > a {
    text-decoration: none;
    float: left;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
    color: #F4914E;
}

.rating .rating-normal, .rating.rating-normal:hover {
    color: #3C3C3C;
}

/* NUTRITION FACTS */
#nutrition {
    padding-top: 50px;
}