<div>

    <form novalidate name="createForm" id="createForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="FirstName">First Name</label>
            <div class="controls">
                <input type="text" id="FirstName" name="FirstName" placeholder="First Name" ng-model="user.FirstName" required />
                <p ng-show="createForm.FirstName.$error.required && !createForm.FirstName.$pristine" class="alert-danger">First name required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="LastName">Last Name</label>
            <div class="controls">
                <input type="text" id="LastName" name="LastName" placeholder="Last Name" ng-model="user.LastName" required />
                <p ng-show="createForm.LastName.$error.required && !createForm.LastName.$pristine" class="alert-danger">Last name required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Email">Email</label>
            <div class="controls">
                <input type="email" id="Email" name="Email" placeholder="Email" ng-model="user.Email" required />
                <p ng-show="createForm.Email.$error.required && !createForm.Email.$pristine" class="alert-danger">Email required.</p>
                <p ng-show="createForm.Email.$error.email" class="alert-danger">Please enter a valid email.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Username">Username</label>
            <div class="controls">
                <input type="text" id="Username" name="Username" placeholder="Username" ng-model="user.Username" required />
                <p ng-show="createForm.Username.$error.required && !createForm.Username.$pristine" class="alert-danger">Username required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Password">Password</label>
            <div class="controls">
                <input type="password" id="Password" name="Password" placeholder="Password" ng-model="user.Password" required />
                <p ng-show="createForm.Password.$error.required && !createForm.Password.$pristine" class="alert-danger">Password required.</p>
            </div>
        </div>


        <br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="createUser()" value="Submit" />
            </div>
        </div>

        <br/>
        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn btn-warning" ng-click="clearUserInfo()">Clear</button>
            </div>
        </div>

    </form>

</div>