<div>

    <form novalidate name="createForm" id="createForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="firstName">First Name</label>
            <div class="controls">
                <input type="text" id="firstName" placeholder="First Name" ng-model="user.FirstName" required>
                <p ng-show="createForm.FirstName.$error.required && !createForm.FirstName.$pristine" class="alert-danger">First name required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName">Last Name</label>
            <div class="controls">
                <input type="text" id="lastName" placeholder="Last Name" ng-model="user.LastName" required>
                <p ng-show="createForm.LastName.$error.required && !createForm.LastName.$pristine" class="alert-danger">Last name required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" placeholder="Username" ng-model="user.Username" required>
                <p ng-show="createForm.Username.$error.required && !createForm.Username.$pristine" class="alert-danger">Email required.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" placeholder="Password" ng-model="user.Password" required>
                <p ng-show="createForm.Password.$error.required && !createForm.Password.$pristine" class="alert-danger">Password required.</p>
            </div>
        </div>
        <br />
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" ng-disabled="createForm.$invalid" ng-click="createUser()" value="Submit" />
            </div>
        </div>
    </form>

</div>